<%= stylesheet_link_tag 'form' %>
<div class="form-container">
  <%= form_with(model: entry, :html => {:novalidate => 'novalidate'}) do |form| %>

    <% if entry.errors[:meal_type].present? %>
    <div class="field form-floating">
      <%= form.text_field :meal_type, :class => 'form-control form-floating is-invalid', :id => 'floatingMeal', placeholder: "Meal Type" %>
      <%= form.label :meal_type, "Meal Type", for:"floatingMeal" %>
    </div>
    <div class="invalid-feedback mb-3" style="display:block;">
      <%= entry.errors[:meal_type][0] %>
    </div>
    <% else %>
    <div class="field form-floating mb-3">
      <%= form.text_field :meal_type, :class => 'form-control form-floating', :id => 'floatingMeal', placeholder: "Meal Type"  %>
      <%= form.label :meal_type, "Meal Type", for:"floatingMeal" %>
    </div>
    <% end %>
    <%= form.hidden_field :diary_date, :value => @date %>

    <div class="actions">
      <%= form.submit class:"btn btn-primary" %>
      <%= link_to 'Cancel', root_path, class:"btn btn-danger" %>
    </div> 
  <% end %>
</div>
