<%= stylesheet_link_tag 'entries' %>
<div class="entries-container">
  <div class="entries-header mb-3">
    <h1 class="display-6"><%= DateTime.now.to_s(:nice_date) %></h1>
    <div class="nav-buttons">
      <%= link_to raw('&#x276E;'), new_entry_path, class:"btn btn-light mb-3" %>
      <%= link_to 'Create New Entry', new_entry_path, class:"btn btn-light mb-3" %>
      <%= link_to raw('&#x276F;'), new_entry_path, class:"btn btn-light mb-3" %>
    </div>
  </div>
  <div class="cards-container">
    <% @entries.each do |entry| %>
    <div class="card mb-4" style="width: 18rem;">
      <div class="card-header">
        <h5><%= entry.MealType.title %></h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item p-3 text-muted"><strong><%= entry.calories %></strong> kcal</li>
        <li class="list-group-item p-3 text-muted"><strong><%= entry.proteins %></strong> grams of protein</li>
        <li class="list-group-item p-3 text-muted"><strong><%= entry.carbohydrates %></strong> grams of carbohydrates</li>
        <li class="list-group-item p-3 text-muted"><strong><%= entry.fats %></strong> grams of fat</li>
      </ul>
      <div class="card-links">
        <%= link_to 'Show', entry_path(entry) %>
        <%= link_to 'Edit', edit_entry_path(entry), class:"border border-top-0 border-bottom-0"%>
        <%= link_to 'Delete', entry, method: :delete, data: { confirm: 'Are you sure?' }, class:"delete" %>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated <%= time_ago_in_words(entry.created_at) %> ago</small>
      </div>
    </div>
    <% end %>
  </div>
</div>