<%= stylesheet_link_tag 'entries' %>
<div class="entries-container">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= @entry.meal_type %></h5>
      <h6 class="card-subtitle mb-2 text-muted">
        <p>
        <strong>Calories:</strong>
        <%= @entry.calories %>
        </p>
      </h6>
      <h6 class="card-subtitle mb-2 text-muted">
        <p>
        <strong>Protein:</strong>
        <%= @entry.proteins %>
        </p>
      </h6>
      <h6 class="card-subtitle mb-2 text-muted">
        <p>
        <strong>Carbohydrates:</strong>
        <%= @entry.carbohydrates %>
        </p>
      </h6>
      <h6 class="card-subtitle mb-2 text-muted">
        <p>
        <strong>Fat</strong>
        <%= @entry.fats %>
        </p>
      </h6>
      <%= link_to 'Edit', edit_entry_path(@entry), class:"btn btn-primary" %>
      <%= link_to 'Back', entries_path, class:"btn btn-secondary" %>
    </div>
  </div>
</div>