<%= stylesheet_link_tag 'diary' %>
<div class="diary-container">
  <div class="nav-buttons">
    <%= link_to raw('<svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 0 24 24" width="48px" fill="var(--grey)"><path d="M0 0h24v24H0V0z" fill="none" opacity=".87"/><path d="M17.51 3.87L15.73 2.1 5.84 12l9.9 9.9 1.77-1.77L9.38 12l8.13-8.13z"/></svg>'), diary_path(@diary, :date => @previous_date) %>
    <h1 class="display-6"><%= 'Diary for ' + @nice_date %></h1>
    <%= link_to raw('<svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 20 20" height="48px" viewBox="0 0 20 20" width="48px" fill="var(--grey)"><g><g><rect fill="none" height="20" width="20"/></g></g><g><polygon points="4.59,16.59 6,18 14,10 6,2 4.59,3.41 11.17,10"/></g></svg>'), diary_path(@diary, :date => @next_date) %>
  </div>
  <div class="summary-container border">
    <h2 class="display-6">Summary</h2>
    <div class="summary">
      <div class="sub-summary">
        <h6 class="mb-3">MEALS</h6>
        <strong class="display-6"><%= @entries.count %></strong>
      </div>
      <div class="sub-summary">
        <h6 class="mb-3">CALORIES</h6>
        <strong class="display-6"><%= @entries.sum(:calories) %></strong> kcal
      </div>
      <div class="sub-summary">
        <h6 class="mb-3">PROTEIN</h6>
        <strong class="display-6"><%= @entries.sum(:proteins) %></strong> g
      </div>
      <div class="sub-summary">
        <h6 class="mb-3">CARBOHYDRATES</h6>
        <strong class="display-6"><%= @entries.sum(:carbohydrates) %></strong> g
      </div>
      <div class="sub-summary">
        <h6 class="mb-3">FATS</h6>
        <strong class="display-6"><%= @entries.sum(:fats) %></strong> g
      </div>
    </div>
  </div>
  <div class="accordion accordion-flush mt-3" id="accordionFlushExample">
  <div class="entries-container">
    <div class="entries-header">
      <%= link_to 'Create New Meal', new_entry_path(@diary, :date => @date.to_s), class:"btn btn-light mb-3" %>
    </div>
    <div class="cards-container">
      <% @entries.each do |entry| %>
      <div class="card mb-4" style="width: 18rem;">
        <div class="card-header">
          <h5><%= entry.meal_type %></h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item p-3 text-muted"><strong><%= entry.calories %></strong> kcal</li>
          <li class="list-group-item p-3 text-muted"><strong><%= entry.proteins %></strong> grams of protein</li>
          <li class="list-group-item p-3 text-muted"><strong><%= entry.carbohydrates %></strong> grams of carbohydrates</li>
          <li class="list-group-item p-3 text-muted"><strong><%= entry.fats %></strong> grams of fat</li>
        </ul>
        <div class="card-links">
          <%= link_to 'Show', entry_path(entry) %>
          <%= link_to 'Edit', edit_entry_path(entry, :date => @date.to_s), class:"border border-top-0 border-bottom-0"%>
          <%= link_to 'Delete', entry_path(entry, :date => @date.to_s), method: :delete, data: { confirm: 'Are you sure?' }, class:"delete" %>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated <%= time_ago_in_words(entry.created_at) %> ago</small>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>