<%= stylesheet_link_tag 'diary' %>
<div class="diary-container">
  <% @entries.each do |day, entries| %>
  <h3 class="display-6 mb-5">Entries for <%= day %></h3>
  <div>
  <div class="summary mb-5">
    <div class="sub-summary">
      <h6 class="text-muted mb-3">MEALS</h6>
      <strong class="display-6"><%= entries.pluck(:meal_type).count %></strong>
    </div>
    <div class="sub-summary">
      <h6 class="text-muted mb-3">CALORIES</h6>
      <strong class="display-6"><%= entries.pluck(:calories).sum %></strong> kcal
    </div>
    <div class="sub-summary">
      <h6 class="text-muted mb-3">PROTEIN</h6>
      <strong class="display-6"><%= entries.pluck(:proteins).sum %></strong> g
    </div>
    <div class="sub-summary">
      <h6 class="text-muted mb-3">CARBOHYDRATES</h6>
      <strong class="display-6"><%= entries.pluck(:carbohydrates).sum %></strong> g
    </div>
    <div class="sub-summary">
      <h6 class="text-muted mb-3">FATS</h6>
      <strong class="display-6"><%= entries.pluck(:fats).sum %></strong> g
    </div>
  </div>
  </div>
  <div class="accordion accordion-flush" id="accordionFlushExample">
  <ul class="list-group list-group-flush">
    <% entries.each_with_index do |entry, index| %>
    <li class="list-group-item"><%= entry.MealType.title %></li>
    <% end %>
  </ul>
  <% end %>
  </div>
</div>